:root {
    --fontSize-Width: 2rem;
    --fontSize-height: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--fontSize-Width);
    
}


@media (max-width: 430px) {
    :root {
        font-size: calc(var(--fontSize-Width)*0.6);
    }
    
}

@media (min-width: 431px) and (max-width: 932px) {
    :root {
        font-size: calc(var(--fontSize-Width)*0.7);
    }
}

@media (min-width: 933px) {
    :root {
        font-size: calc(var(--fontSize-Width)*1);
    }
}


/*ESTILOS GERAIS*/

.btn-secondary{
    background-color: rgb(77, 153, 96);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Main do site */
#main {
    z-index: -5;
    
}

/* HERO */
#hero {
    z-index: 2;
    height: 85vh;
    margin-bottom: 5vh;
    padding-top: 20vh;

    padding-left: 10%;
    padding-right: 10%;

    background-image: linear-gradient(rgba(255, 255, 255, 0.85),white), url(../img/hero/bg_sistema_02.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    /*
    align-content: center;
    align-items: center;
    */
    
    border-bottom: 1px solid rgb(224, 224, 224);
    box-shadow: 0px 5px 50px 2px rgba(27, 27, 27, 0.075);
}

#heroSys {
    --Height: 90vh;

    z-index: 2;
    height: var(--Height);
    padding: 0vh;
    padding-top: calc(var(--Height)*+0.1);
    margin-bottom: calc(var(--Height)*-0.5);

    padding-left: 5%;
    padding-right: 5%;
    
    background-image: linear-gradient(rgba(255, 255, 255, 0.85),white), url(../img/hero/bg_sistema_02.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#hero #heroSys img{
    margin: auto;
    width: 100vw;
}

#heroSys h1 {
    text-shadow: rgb(158, 158, 158) 0em 0em 0.1rem;
}

.Hero_p{
    margin-top: 1vh;
}

#hero h1 {
    text-shadow: rgb(158, 158, 158) 0em 0em 0.1rem;
}

#hero a {
    min-width: 20vw;
    width: 50%;
    
    margin-bottom: 5vh;
    text-align: center;
}

/* PORTIFOLIO */
#portifolio{
    z-index: 1;
}

.d-block{
    width: 100vw;
    height: 85vh;
    object-fit: cover;

}

.d-block img{
    margin: auto;
    width: 100%;
}

/* CONTATO */
#contato{
    text-align: center;
    min-height: 100vh;
    padding-top: 50vh;
    
}

/* MENU */
#header {
    --hmenu: 5vh;
    z-index: 2;
    position: fixed;
    width: 100%;
}

#header  img {
    --Hicon: calc(var(--hmenu)*0.8);
    height: var(--Hicon);
    margin:auto;
}

.navbar-toggler-icon{
    scale: 0.5;
    margin: -10%;
}

.navbar {
    /*
    height: var(--hmenu);
    */

    text-align: right;
    font-size: small;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 5vh;
}

/*
.navbar-expand-lg{
    height: calc(var(--hmenu)*7);
}
*/

/* RODAPE */
.rodape {
    z-index: 2;
    --local: 0vw;
    left: var(--local);
    right: var(--local);

    font-size: xx-small;
    text-align: center;
    text-align:center;

    position: fixed;
    min-height: 5vh;
    max-width: 80vw;

    top: 95vh;
    margin-left: auto;
    margin-right: auto;
    
}

/* Forumlarios */
#formulario_content {
    background-color: hsl(0, 0%, 80%);
    box-shadow: 1vw 1vw 3vw hsl(0, 0%, 50%),
                0 0 5vw hsl(0, 0%, 60%), 
                0 0 1vw hsl(0, 0%, 50%);
    padding: 3vw;
    margin-top: 4vw;
    margin-bottom: 10vw;
    border-radius: 2vw;
    align-content: center;
    align-items: center;
}

#formulario_content h2{
    text-align: center;
}

#form-submit, #form-reset{
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 0vw;  
}

#botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
}


